@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    text-align: center;
	color: #333;
	font-family: 'EB Garamond', serif;
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p, a {
    font-size: x-large;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

.page {
	height: 100vh;
	scroll-snap-align: center;
	padding-left: 2rem;
}

.page-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
